* {
  border: 0;
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: rgb(132, 199, 132);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  flex: 1;
}

/*---------------------------------------------*/

h2 {
  font-size: 30px;
}

.cr {
  margin-bottom: 5px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.carrossel1 {

  width: 800px;
  /*largura do carrossel*/
  height: 600px;
  /*altura do carrossel*/
  overflow: hidden;
}

.cImg {
  display: flex;

  width: 700%;

  animation: deslizar 12s infinite;
}

@keyframes deslizar {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(0);
  }



  15% {
    transform: translateX(-800px);
  }

  25% {
    transform: translateX(-800px);
  }



  30% {
    transform: translateX(-1600px);
  }

  40% {
    transform: translateX(-1600px);
  }



  45% {
    transform: translateX(-2400px);
  }

  55% {
    transform: translateX(-2400px);
  }



  60% {
    transform: translateX(-3200px);
  }

  70% {
    transform: translateX(-3200px);
  }



  75% {
    transform: translateX(-4000px);
  }
  85% {
    transform: translateX(-4000px);
  }

  90% {
    transform: translateX(-4800px);
  }
  100% {
    transform: translateX(-4800px);
  }
}
p {
  font-size: 20px;
}

/*----------------------------------*/

header {
  background-color: #38754b;
  padding: 8px;
  text-align: center;
  height: 200px;
  width: 102vw;
}

.logo {
  left: 10;
  width: 300px;

}

.conteudo-principal {
  padding-top: 30px;
}


.menu {
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;

}

/*------------------------------------------------*/

nav a {
  color: white;
  text-decoration: none;
  transition: color 200ms ease;
  position: relative;
}

nav a:after {

  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background: #006b10;
  transition: width 220ms ease;
}


nav a:hover:after {
  width: 100%;
  transform: scale(1.15);
}

/*-------------------------------------------*/

.card {
  margin-left: 20px;
  width: 900px;
  height: 300px;

  padding: 20px;
  display: flex;
  background-color: #38754b;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 20px;
}

section {
  margin-left: 20px;

}

.lana {
  width: 600px;
  height: 300px;
}

/*--------------------------------------*/
.card {
  overflow: auto;
  background-color: #38754b;
}

.card1 {
  display: flex;
}

section {
  margin-right: 30px;
  margin-right: 30px;
}


/*------------------------------------ carrossel*/
img {
  width: 800px;
  height: 600px;
}

.primeirocr{
  width: 800px;
  height: 400px;
}
.carrossel {

  width: 800px;
  /*largura do carrossel*/
  height: 600px;
  /*altura do carrossel*/
  overflow: hidden;
}

.cImg {
  display: flex;

  width: 500%;

  animation: deslizar 12s infinite;
}

@keyframes deslizar {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-800px);
  }

  35% {
    transform: translateX(-800px);
  }

  40% {
    transform: translateX(-1600px);
  }

  55% {
    transform: translateX(-1600px);
  }

  60% {
    transform: translateX(-2400px);
  }

  75% {
    transform: translateX(-2400px);
  }

  80% {
    transform: translateX(-3200px);
  }

  95% {
    transform: translateX(-3200px);
  }

  100% {
    transform: translateX(0);
  }
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*----------------------------------------------*/

footer {
  background-color: #e2e2e293;
  color:  #38754b; 
  height: auto;
  width: 102%; 
  text-align: center;
  bottom: 0 ;
  left: 0;
  padding: 20px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/**/
.cardE {
 
}

.textoLogo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  width: 400px;               
  margin-left: -80px;  
}

.textoLogo img {
  height: 300px;
  width: auto;

}


.textoLogo h2 {
  font-size: 25px;
  color:  #38754b; 
}

.textoLogo p {
  font-size: 20px;
  color: #38754b; 

}

/*--*/
.redes-sociais {
  text-align: center;
}

.redes-sociais h3 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #2e7d32;
  font-weight: 600;
  letter-spacing: 1px;
}

.icones a {
  color: #205c2e;
  font-size: 1.6rem;
  margin: 0 10px;
  transition: 0.3s;
}

.icones a:hover {
  color: #43a047; /* verde mais vivo */
  transform: scale(1.2);
}

/*--*/

.logook{
  width: 200px;
  height: auto;
  margin-left: 10px;
}

.linha-vertical {
  width: 1px;             
  height: 100px;           
  background-color: #b9b9b9;  
  margin: 20px auto;
  margin-left: 25px;
  margin-right: 25px;
}

.linha-horizontal {   
  width: 1500px;         
  height: 1px;    
  border: 0;          
  background-color: #b9b9b9;    
  margin: 20px 0;       
}

.rodape{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*---------------------------------------------------*/

.cImg2{
  display: flex;
  width: 700%;
  animation: deslizar 12s infinite;
}


.logo{
  width: 400px;
  height: 300px;
  margin-left: 10px;
} 
.mapa{
  display: flex;
  justify-content: center;
}