.item1, .item2, .item3, .item4{
width: 50px;
height: 50px;
}
.item1{
    background-color: green;
}
.item2{
    background-color: blue;
}
.item3{
    background-color: red;
}
.item4{
    background-color: orange;
    flex-grow: 1; /*Item vai crescer enquanto der*/
 
}
.container {
    border: 3px solid black; 
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction:row; /*Direção dos elementos*/
    justify-content: space-around; /*Alinhamento na horizontal*/
    align-items: flex-start; /*Alinhamento na vertical*/
    flex-wrap:wrap ;
}
