button {
    display: block;
    margin: 20px 0;
}

.sombra{
   /* box-shadow: X Y DESFOQUE COR; - estrutura*/
   box-shadow: 0px 0px 10px gray
}
.linha{
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 3px;
}
/*TRANSITIONS*/
/*sem transition*/
.sem{
    background-color: red;
}
.sem:hover {/*sรณ acontece se passar o mouse em cima*/
background-color: blue;
}

/*com transition*/
.transition {
    background-color: red;
    transition: background-color 5s ease;
    
}
.transition:hover{
    background-color: blue;
}

img{
    width: 200px;
    transition: width 6s ease;
    }

    img:hover {
        width: 220px;
    }

   