div{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
}

.caixa1 {
    background:linear-gradient(150deg, red , blue ); 
    /* /Por padrão ele é de cima para baixo/ */
    /* /to right, to left, to bottom/ */
    /* /to right = 90deg, to left = 150deg, to bottom = 180deg/ */
}
.caixa2{
    background: radial-gradient(circle, orange , yellow);
   /*circle, ellipse*/
   /* center, at bottom right, top left, top right, bottom left */

}

.caixa3{
    background: conic-gradient(at top left, red, yellow, blue,  green);
}

/* usar os valores com deg, faz girar as cores*/
/* top left, top right, bottom right, bottom left */