/* CSS */

.quadrado {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: mudarCor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes /*animação*/ mudarCor {
    from {background-color: red;}
    to {background-color: blue;}
}

.circulo {
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius:360px;
    animation-name: movimento;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

    @keyframes movimento {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(100px);
        }
        100% {
            transform: translateX(200px);
        }
    }

    .circulo2 {
animation-name: aumentar;
   margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 360px;
        animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: lightblue;
    
}
@keyframes aumentar{
    from {
        transform: scale(1);
        background-color: lightblue;
    }
    to {
        transform: scale(2);
        background-color: pink;
    }
}

img {
    margin-top: 100px;
    width: 100px;
    animation:andar 4s infinite;
    
}

@keyframes andar {
    0% {
        transform: translateX(0) scaleX(1);
    }
    50% {
        transform: translateX(200px) scaleX(1);
    }
    51% {
        transform: translateX(200px) scaleX(-1);
    }
    100% {
        transform: translateX(0px) scaleX(-1);
    }

}