body {
    background: #f5f5f5;
    margin: 0;
    /* padding: 30px; */
}
header{
margin-bottom: 80px;

}
/* LAYOUT DO PRODUTO */
.produto-container {
    display: flex;
    gap: 50px;
    margin-bottom: 80px;
}

.produto-imagem img {
    width: 550px;
    border-radius: 8px;
}

/* INFORMAÇÕES DO PRODUTO */
.produto-info {
    max-width: 600px;
}

.categoria {
    font-size: 12px;
    color: #555;
}

.titulo {
    font-size: 32px;
    font-weight: bold;
}

.precos {
    margin: 15px 0;
}

.preco-antigo {
    text-decoration: line-through;
    color: #999;
}

.preco-novo {
    font-size: 22px;
    font-weight: bold;
    margin-left: 12px;
}



/* TAMANHOS */
.opcoes-tamanho button {
    padding: 8px 18px;
    margin-right: 6px;
    border: 1px solid #aaa;
    background: white;
    cursor: pointer;
    border-radius: 6px;
}

.opcoes-tamanho button:hover{
    background-color: black;
    color: white;
}

/* QUANTIDADE */
.qtd-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.qtd-box button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* BOTÕES */
.btn-carrinho,
.btn-comprar {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn-carrinho:hover, .btn-comprar:hover {
    background-color: black;
    color: white;
}
table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    justify-content: flex-start;
}
.tabelaTitulo{
    display: flex;
    justify-content: flex-start;
    
}


/* RECOMENDADOS */
.recomendados h2 {
    font-size: 26px;
    margin-bottom: 20px;
    display: flex;
    margin-left: 380px;
}


.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}

/* CARD INTERATIVO */
.img-box{
    filter: grayscale(100%);
    overflow: hidden;
    border-radius: 6px;
    height: 350px;
}.card {
    width: 250px;
    overflow: hidden;
    
    
}


/*----------------------------------------------------*/

/* IMAGEM */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    
    object-fit: cover;
}

/* ZOOM REAL */
.card:hover img {
    transform: scale(1.12);
    
}
.cartao{
    width: 700px;
    height: 900px;
    position: relative;
    
}
.frente, .verso{
position:absolute;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
transition: opacity 0.5s;

}
.frente{
    background-image: url(img/blusa4.png);
    background-size: cover;
}
.verso{
    background-image: url(img/blusa.4.png);
    background-size: cover;
    opacity: 0;
}
.cartao:hover .frente{
    opacity: 0;
}
.cartao:hover .verso{
    opacity: 1;
}

.img-box{
    filter: grayscale(100%);
}
.cards:hover .card{
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
    color: black;
}
