/* Título */
.titulo {
    font-size: 32px;
    margin-bottom: 30px;
     margin-left:20px ;
    margin-right: 20px;
}

/* Filtros */
.filtros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-left:20px ;
    margin-right: 20px;
}

.filtros select {
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.quantidade {
   
    font-size: 14px;
}

/* GRID DE PRODUTOS */
.grid-produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
     margin-left:20px ;
    margin-right: 20px;
}

/* CARD */
.card {
    width: 100%;
    position: relative;
}

/* TAGS */
.tag {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 12px;
    color: white;
}

.promocao {
    background: #b3b3b3;
}

.esgotado {
    background: #111;
}

/* ÁREA DA IMAGEM */
.card-img {
    width: 100%;
    aspect-ratio: 3 / 4;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

/* IMAGEM */
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    filter: grayscale(100%);
}

/* ZOOM REAL */
.card-img:hover img {
    transform: scale(1.12);
}

/* TEXTOS */
h3 {
    margin-top: 12px;
    font-size: 14px;
    font-weight: bold;
}

.preco-antigo {
    text-decoration: line-through;
    font-size: 13px;
    color: #999;
}

.preco {
    font-size: 14px;
    font-weight: bold;
}

