body{
    background-image: url(img/imgChoro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*contain - aumenta a imagem sem cortar (deixa espaços 
    vazios)
    cover - aumenta a imagem podendo cortar ela (não deixa
    espaços vazios)*/
    background-position: top;
    background-attachment: fixed;
    /*scroll - fundo mexe com o texto
    fixed - fundo fica fixo*/
    background-color: aqua;

    }
    body::before{
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(211, 211, 211, 0.329);
    }
    p{
        font-size: 90px;
    }